<% stylesheet_link_tag "form" %>
<div class="form-container">
<%= form_with model: @article do |f| %>
<div class="field">
  <%= f.label :title,class:"label"  %>
  <%= f.text_field :title, class:"text-field-main" %>
  <% @article.errors.full_messages_for(:title).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>
<div class="field">
  <%= f.label :body,class:"label" %>
  <%= f.text_area :body, class:"text-field" %>
  <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
  <% end %>
</div>
<div>
<%= f.submit class: "submit"%>
</div>

    
<% end %>
</div>