<%= render "navbar" %>
<%= stylesheet_link_tag "show" %>
<div class="blog-container">
  <br>
<h1><%= @article.title %></h1>
<br>
<br>
<div class="article-content">
<p><%= @article.body %></p>

<ul>
  <%= link_to "Edit", edit_article_path(@article), class:"button" %>
  <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class:"button" %>
</ul>
</div>

<br>


<br>
<h1>Add a Comment:</h1>
<br>
<div class="comment-container">
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, class:"text-field-main",id:"ford" %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class:"text-field",id:"ford" %>
  </p>
  <p>
    <%= form.submit class:"submit", id:"ford3600" %>
  </p>

<% end %>
</div>
<br>
<br>
<h2>Comments</h2>
<br>
<% @article.comments.each do |comment| %>
  <% if comment.commenter.to_s != '' && comment.body.to_s != ''%>
  <p>
    <%= comment.commenter.to_s + ": " + comment.body.to_s%>
  </p>
  <% end%>
<% end %>

</div>
